/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 80px 70px 70px 70px 80px;
  gap: 6px;
  background: white;
  padding: 6px;
}

#grid > div {
  background: green;
  color: white;
  font-size: 26px;
  font-family: Arial, sans-serif;
  padding: 12px;
}


#grid > div:nth-child(1) { grid-column: 1 / 5; }       /* 1 */
#grid > div:nth-child(2) { grid-row: 2 / 5; grid-column: 1 / 2; } /* 2 */
#grid > div:nth-child(3) { grid-column: 2 / 3; }       /* 3 */
#grid > div:nth-child(4) { grid-column: 3 / 5; }       /* 4 */
#grid > div:nth-child(5) { grid-column: 2 / 4; }       /* 5 */
#grid > div:nth-child(6) { grid-column: 4 / 5; }       /* 6 */
#grid > div:nth-child(7) { grid-column: 2 / 3; }       /* 7 */
#grid > div:nth-child(8) { grid-column: 3 / 4; }       /* 8 */
#grid > div:nth-child(9) { grid-column: 4 / 5; }       /* 9 */
#grid > div:nth-child(10) { grid-column: 1 / 5; }      /* 10 */
